$artrogenos-pack-font-family: "artrogenos-pack" !default;
$artrogenos-pack-font-path: "../../../../fonts" !default;

$ar-add-1-pack: "\e900";
$ar-add-2-pack: "\e901";
$ar-add-3-pack: "\e902";
$ar-add-pack: "\e903";
$ar-agenda-pack: "\e904";
$ar-alarm-1-pack: "\e905";
$ar-alarm-clock-1-pack: "\e906";
$ar-alarm-clock-pack: "\e907";
$ar-alarm-pack: "\e908";
$ar-albums-pack: "\e909";
$ar-app-pack: "\e90a";
$ar-archive-1-pack: "\e90b";
$ar-archive-2-pack: "\e90c";
$ar-archive-3-pack: "\e90d";
$ar-archive-pack: "\e90e";
$ar-attachment-pack: "\e90f";
$ar-back-pack: "\e910";
$ar-battery-1-pack: "\e911";
$ar-battery-2-pack: "\e912";
$ar-battery-3-pack: "\e913";
$ar-battery-4-pack: "\e914";
$ar-battery-5-pack: "\e915";
$ar-battery-6-pack: "\e916";
$ar-battery-7-pack: "\e917";
$ar-battery-8-pack: "\e918";
$ar-battery-9-pack: "\e919";
$ar-battery-pack: "\e91a";
$ar-binoculars-pack: "\e91b";
$ar-blueprint-pack: "\e91c";
$ar-bluetooth-1-pack: "\e91d";
$ar-bluetooth-pack: "\e91e";
$ar-bookmark-1-pack: "\e91f";
$ar-bookmark-pack: "\e920";
$ar-briefcase-pack: "\e921";
$ar-broken-link-pack: "\e922";
$ar-calculator-1-pack: "\e923";
$ar-calculator-pack: "\e924";
$ar-calendar-1-pack: "\e925";
$ar-calendar-2-pack: "\e926";
$ar-calendar-3-pack: "\e927";
$ar-calendar-4-pack: "\e928";
$ar-calendar-5-pack: "\e929";
$ar-calendar-6-pack: "\e92a";
$ar-calendar-7-pack: "\e92b";
$ar-calendar-pack: "\e92c";
$ar-checked-1-pack: "\e92d";
$ar-checked-pack: "\e92e";
$ar-clock-1-pack: "\e92f";
$ar-clock-pack: "\e930";
$ar-close-pack: "\e931";
$ar-cloud-computing-1-pack: "\e932";
$ar-cloud-computing-2-pack: "\e933";
$ar-cloud-computing-3-pack: "\e934";
$ar-cloud-computing-4-pack: "\e935";
$ar-cloud-computing-5-pack: "\e936";
$ar-cloud-computing-pack: "\e937";
$ar-cloud-pack: "\e938";
$ar-command-pack: "\e939";
$ar-compact-disc-1-pack: "\e93a";
$ar-compact-disc-2-pack: "\e93b";
$ar-compact-disc-pack: "\e93c";
$ar-compass-pack: "\e93d";
$ar-compose-pack: "\e93e";
$ar-controls-1-pack: "\e93f";
$ar-controls-2-pack: "\e940";
$ar-controls-3-pack: "\e941";
$ar-controls-4-pack: "\e942";
$ar-controls-5-pack: "\e943";
$ar-controls-6-pack: "\e944";
$ar-controls-7-pack: "\e945";
$ar-controls-8-pack: "\e946";
$ar-controls-9-pack: "\e947";
$ar-controls-pack: "\e948";
$ar-database-1-pack: "\e949";
$ar-database-2-pack: "\e94a";
$ar-database-3-pack: "\e94b";
$ar-database-pack: "\e94c";
$ar-diamond-pack: "\e94d";
$ar-diploma-pack: "\e94e";
$ar-dislike-1-pack: "\e94f";
$ar-dislike-pack: "\e950";
$ar-divide-1-pack: "\e951";
$ar-divide-pack: "\e952";
$ar-division-pack: "\e953";
$ar-document-pack: "\e954";
$ar-download-pack: "\e955";
$ar-edit-1-pack: "\e956";
$ar-edit-pack: "\e957";
$ar-eject-1-pack: "\e958";
$ar-eject-pack: "\e959";
$ar-equal-1-pack: "\e95a";
$ar-equal-2-pack: "\e95b";
$ar-equal-pack: "\e95c";
$ar-error-pack: "\e95d";
$ar-exit-1-pack: "\e95e";
$ar-exit-2-pack: "\e95f";
$ar-exit-pack: "\e960";
$ar-eyeglasses-pack: "\e961";
$ar-fast-forward-1-pack: "\e962";
$ar-fast-forward-pack: "\e963";
$ar-fax-pack: "\e964";
$ar-file-1-pack: "\e965";
$ar-file-2-pack: "\e966";
$ar-file-pack: "\e967";
$ar-film-pack: "\e968";
$ar-fingerprint-pack: "\e969";
$ar-flag-1-pack: "\e96a";
$ar-flag-2-pack: "\e96b";
$ar-flag-3-pack: "\e96c";
$ar-flag-4-pack: "\e96d";
$ar-flag-pack: "\e96e";
$ar-focus-pack: "\e96f";
$ar-folder-1-pack: "\e970";
$ar-folder-2-pack: "\e971";
$ar-folder-3-pack: "\e972";
$ar-folder-4-pack: "\e973";
$ar-folder-5-pack: "\e974";
$ar-folder-6-pack: "\e975";
$ar-folder-7-pack: "\e976";
$ar-folder-8-pack: "\e977";
$ar-folder-9-pack: "\e978";
$ar-folder-10-pack: "\e979";
$ar-folder-11-pack: "\e97a";
$ar-folder-12-pack: "\e97b";
$ar-folder-13-pack: "\e97c";
$ar-folder-14-pack: "\e97d";
$ar-folder-15-pack: "\e97e";
$ar-folder-16-pack: "\e97f";
$ar-folder-17-pack: "\e980";
$ar-folder-18-pack: "\e981";
$ar-folder-19-pack: "\e982";
$ar-folder-pack: "\e983";
$ar-forbidden-pack: "\e984";
$ar-funnel-pack: "\e985";
$ar-garbage-1-pack: "\e986";
$ar-garbage-2-pack: "\e987";
$ar-garbage-pack: "\e988";
$ar-gift-pack: "\e989";
$ar-help-pack: "\e98a";
$ar-hide-pack: "\e98b";
$ar-hold-pack: "\e98c";
$ar-home-1-pack: "\e98d";
$ar-home-2-pack: "\e98e";
$ar-home-pack: "\e98f";
$ar-hourglass-1-pack: "\e990";
$ar-hourglass-2-pack: "\e991";
$ar-hourglass-3-pack: "\e992";
$ar-hourglass-pack: "\e993";
$ar-house-pack: "\e994";
$ar-id-card-1-pack: "\e995";
$ar-id-card-2-pack: "\e996";
$ar-id-card-3-pack: "\e997";
$ar-id-card-4-pack: "\e998";
$ar-id-card-5-pack: "\e999";
$ar-id-card-pack: "\e99a";
$ar-idea-pack: "\e99b";
$ar-incoming-pack: "\e99c";
$ar-infinity-pack: "\e99d";
$ar-info-pack: "\e99e";
$ar-internet-pack: "\e99f";
$ar-key-pack: "\e9a0";
$ar-lamp-pack: "\e9a1";
$ar-layers-1-pack: "\e9a2";
$ar-layers-pack: "\e9a3";
$ar-like-1-pack: "\e9a4";
$ar-like-2-pack: "\e9a5";
$ar-like-pack: "\e9a6";
$ar-link-pack: "\e9a7";
$ar-list-1-pack: "\e9a8";
$ar-list-pack: "\e9a9";
$ar-lock-1-pack: "\e9aa";
$ar-lock-pack: "\e9ab";
$ar-locked-1-pack: "\e9ac";
$ar-locked-2-pack: "\e9ad";
$ar-locked-3-pack: "\e9ae";
$ar-locked-4-pack: "\e9af";
$ar-locked-5-pack: "\e9b0";
$ar-locked-6-pack: "\e9b1";
$ar-locked-pack: "\e9b2";
$ar-login-pack: "\e9b3";
$ar-magic-wand-pack: "\e9b4";
$ar-magnet-1-pack: "\e9b5";
$ar-magnet-2-pack: "\e9b6";
$ar-magnet-pack: "\e9b7";
$ar-map-1-pack: "\e9b8";
$ar-map-2-pack: "\e9b9";
$ar-map-location-pack: "\e9ba";
$ar-map-pack: "\e9bb";
$ar-megaphone-1-pack: "\e9bc";
$ar-megaphone-pack: "\e9bd";
$ar-menu-1-pack: "\e9be";
$ar-menu-2-pack: "\e9bf";
$ar-menu-3-pack: "\e9c0";
$ar-menu-4-pack: "\e9c1";
$ar-menu-pack: "\e9c2";
$ar-microphone-1-pack: "\e9c3";
$ar-microphone-pack: "\e9c4";
$ar-minus-1-pack: "\e9c5";
$ar-minus-pack: "\e9c6";
$ar-more-1-pack: "\e9c7";
$ar-more-2-pack: "\e9c8";
$ar-more-pack: "\e9c9";
$ar-multiply-1-pack: "\e9ca";
$ar-multiply-pack: "\e9cb";
$ar-music-player-1-pack: "\e9cc";
$ar-music-player-2-pack: "\e9cd";
$ar-music-player-3-pack: "\e9ce";
$ar-music-player-pack: "\e9cf";
$ar-mute-pack: "\e9d0";
$ar-muted-pack: "\e9d1";
$ar-navigation-1-pack: "\e9d2";
$ar-navigation-pack: "\e9d3";
$ar-network-pack: "\e9d4";
$ar-newspaper-pack: "\e9d5";
$ar-next-pack: "\e9d6";
$ar-note-pack: "\e9d7";
$ar-notebook-1-pack: "\e9d8";
$ar-notebook-2-pack: "\e9d9";
$ar-notebook-3-pack: "\e9da";
$ar-notebook-4-pack: "\e9db";
$ar-notebook-5-pack: "\e9dc";
$ar-notebook-pack: "\e9dd";
$ar-notepad-1-pack: "\e9de";
$ar-notepad-2-pack: "\e9df";
$ar-notepad-pack: "\e9e0";
$ar-notification-pack: "\e9e1";
$ar-paper-plane-1-pack: "\e9e2";
$ar-paper-plane-pack: "\e9e3";
$ar-pause-1-pack: "\e9e4";
$ar-pause-pack: "\e9e5";
$ar-percent-1-pack: "\e9e6";
$ar-percent-pack: "\e9e7";
$ar-perspective-pack: "\e9e8";
$ar-photo-camera-1-pack: "\e9e9";
$ar-photo-camera-pack: "\e9ea";
$ar-photos-pack: "\e9eb";
$ar-picture-1-pack: "\e9ec";
$ar-picture-2-pack: "\e9ed";
$ar-picture-pack: "\e9ee";
$ar-pin-pack: "\e9ef";
$ar-placeholder-1-pack: "\e9f0";
$ar-placeholder-2-pack: "\e9f1";
$ar-placeholder-3-pack: "\e9f2";
$ar-placeholder-pack: "\e9f3";
$ar-placeholders-pack: "\e9f4";
$ar-play-button-1-pack: "\e9f5";
$ar-play-button-pack: "\e9f6";
$ar-plus-pack: "\e9f7";
$ar-power-pack: "\e9f8";
$ar-previous-pack: "\e9f9";
$ar-price-tag-pack: "\e9fa";
$ar-print-pack: "\e9fb";
$ar-push-pin-pack: "\e9fc";
$ar-radar-pack: "\e9fd";
$ar-reading-pack: "\e9fe";
$ar-record-pack: "\e9ff";
$ar-repeat-1-pack: "\ea00";
$ar-repeat-pack: "\ea01";
$ar-restart-pack: "\ea02";
$ar-resume-pack: "\ea03";
$ar-rewind-1-pack: "\ea04";
$ar-rewind-pack: "\ea05";
$ar-route-pack: "\ea06";
$ar-save-pack: "\ea07";
$ar-search-1-pack: "\ea08";
$ar-search-pack: "\ea09";
$ar-send-pack: "\ea0a";
$ar-server-1-pack: "\ea0b";
$ar-server-2-pack: "\ea0c";
$ar-server-3-pack: "\ea0d";
$ar-server-pack: "\ea0e";
$ar-settings-1-pack: "\ea0f";
$ar-settings-2-pack: "\ea10";
$ar-settings-3-pack: "\ea11";
$ar-settings-4-pack: "\ea12";
$ar-settings-5-pack: "\ea13";
$ar-settings-6-pack: "\ea14";
$ar-settings-7-pack: "\ea15";
$ar-settings-8-pack: "\ea16";
$ar-settings-9-pack: "\ea17";
$ar-settings-pack: "\ea18";
$ar-share-1-pack: "\ea19";
$ar-share-2-pack: "\ea1a";
$ar-share-pack: "\ea1b";
$ar-shuffle-1-pack: "\ea1c";
$ar-shuffle-pack: "\ea1d";
$ar-shutdown-pack: "\ea1e";
$ar-sign-1-pack: "\ea1f";
$ar-sign-pack: "\ea20";
$ar-skip-pack: "\ea21";
$ar-smartphone-1-pack: "\ea22";
$ar-smartphone-2-pack: "\ea23";
$ar-smartphone-3-pack: "\ea24";
$ar-smartphone-4-pack: "\ea25";
$ar-smartphone-5-pack: "\ea26";
$ar-smartphone-6-pack: "\ea27";
$ar-smartphone-7-pack: "\ea28";
$ar-smartphone-8-pack: "\ea29";
$ar-smartphone-9-pack: "\ea2a";
$ar-smartphone-10-pack: "\ea2b";
$ar-smartphone-11-pack: "\ea2c";
$ar-smartphone-pack: "\ea2d";
$ar-speaker-1-pack: "\ea2e";
$ar-speaker-2-pack: "\ea2f";
$ar-speaker-3-pack: "\ea30";
$ar-speaker-4-pack: "\ea31";
$ar-speaker-5-pack: "\ea32";
$ar-speaker-6-pack: "\ea33";
$ar-speaker-7-pack: "\ea34";
$ar-speaker-8-pack: "\ea35";
$ar-speaker-pack: "\ea36";
$ar-spotlight-pack: "\ea37";
$ar-star-1-pack: "\ea38";
$ar-star-pack: "\ea39";
$ar-stop-1-pack: "\ea3a";
$ar-stop-pack: "\ea3b";
$ar-stopwatch-1-pack: "\ea3c";
$ar-stopwatch-2-pack: "\ea3d";
$ar-stopwatch-3-pack: "\ea3e";
$ar-stopwatch-4-pack: "\ea3f";
$ar-stopwatch-pack: "\ea40";
$ar-street-1-pack: "\ea41";
$ar-street-pack: "\ea42";
$ar-substract-1-pack: "\ea43";
$ar-substract-pack: "\ea44";
$ar-success-pack: "\ea45";
$ar-switch-1-pack: "\ea46";
$ar-switch-2-pack: "\ea47";
$ar-switch-3-pack: "\ea48";
$ar-switch-4-pack: "\ea49";
$ar-switch-5-pack: "\ea4a";
$ar-switch-6-pack: "\ea4b";
$ar-switch-7-pack: "\ea4c";
$ar-switch-pack: "\ea4d";
$ar-tabs-1-pack: "\ea4e";
$ar-tabs-pack: "\ea4f";
$ar-target-pack: "\ea50";
$ar-television-1-pack: "\ea51";
$ar-television-pack: "\ea52";
$ar-time-pack: "\ea53";
$ar-trash-pack: "\ea54";
$ar-umbrella-pack: "\ea55";
$ar-unlink-pack: "\ea56";
$ar-unlocked-1-pack: "\ea57";
$ar-unlocked-2-pack: "\ea58";
$ar-unlocked-pack: "\ea59";
$ar-upload-pack: "\ea5a";
$ar-user-1-pack: "\ea5b";
$ar-user-2-pack: "\ea5c";
$ar-user-3-pack: "\ea5d";
$ar-user-4-pack: "\ea5e";
$ar-user-5-pack: "\ea5f";
$ar-user-6-pack: "\ea60";
$ar-user-7-pack: "\ea61";
$ar-user-pack: "\ea62";
$ar-users-1-pack: "\ea63";
$ar-users-pack: "\ea64";
$ar-video-camera-1-pack: "\ea65";
$ar-video-camera-pack: "\ea66";
$ar-video-player-1-pack: "\ea67";
$ar-video-player-2-pack: "\ea68";
$ar-video-player-pack: "\ea69";
$ar-view-1-pack: "\ea6a";
$ar-view-2-pack: "\ea6b";
$ar-view-pack: "\ea6c";
$ar-volume-control-1-pack: "\ea6d";
$ar-volume-control-pack: "\ea6e";
$ar-warning-pack: "\ea6f";
$ar-wifi-1-pack: "\ea70";
$ar-wifi-pack: "\ea71";
$ar-windows-1-pack: "\ea72";
$ar-windows-2-pack: "\ea73";
$ar-windows-3-pack: "\ea74";
$ar-windows-4-pack: "\ea75";
$ar-windows-pack: "\ea76";
$ar-wireless-internet-pack: "\ea77";
$ar-worldwide-1-pack: "\ea78";
$ar-worldwide-pack: "\ea79";
$ar-zoom-in-pack: "\ea7a";
$ar-zoom-out-pack: "\ea7b";

