.sidenav-push {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 4rem;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0;


  &.nav-open {
    width: 10rem;
  }
  &.nav-close{
    width: 0;
  }

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    &:hover {
      color: #f1f1f1;
    }
  }
}

@media (max-width: 768px) {
  .sidenav-push {
    z-index: 1031;
    right: 0 !important;
    left: inherit !important;
  }
}
