// stylelint-disable declaration-no-important

.shadow-dark-sm { box-shadow: $box-shadow-dark-sm !important; }
.shadow-dark { box-shadow: $box-shadow-dark !important; }
.shadow-dark-lg { box-shadow: $box-shadow-dark-lg !important; }
